In [5]:
import pandas as pd

# Load the iris dataset
df = pd.read_csv('iris.csv')

# Select only numeric columns (exclude species)
numeric_cols = df.select_dtypes(include='number').columns

# Group by species and compute summary statistics
summary = df.groupby('variety')[numeric_cols].agg(['mean', 'median', 'min', 'max', 'std'])

print(summary)

           sepal.length                            sepal.width              \
                   mean median  min  max       std        mean median  min
variety
Setosa            5.006    5.0  4.3  5.8  0.352490       3.428    3.4  2.3
Versicolor        5.936    5.9  4.9  7.0  0.516171       2.770    2.8  2.0
Virginica         6.588    6.5  4.9  7.9  0.635880       2.974    3.0  2.2

                          petal.length                            petal.width  \
            max       std         mean median  min  max       std        mean
variety
Setosa      4.4  0.379064        1.462   1.50  1.0  1.9  0.173664       0.246
Versicolor  3.4  0.313798        4.260   4.35  3.0  5.1  0.469911       1.326
Virginica   3.8  0.322497        5.552   5.55  4.5  6.9  0.551895       2.026


           median  min  max       std
variety
Setosa        0.2  0.1  0.6  0.105386
Versicolor    1.3  1.0  1.8  0.197753
Virginica     2.0  1.4  2.5  0.274650

In [1]:
import pandas as pd

data = {
    'age_group': ['18-25', '26-35', '18-25', '36-45', '26-35', '36-45'],
    'income': [25000, 40000, 27000, 50000, 42000, 48000]
}
df = pd.DataFrame(data)

In [2]:
age_map = {'18-25': 1, '26-35': 2, '36-45': 3}
df['age_code'] = df['age_group'].map(age_map)

# View result
print(df[['age_group', 'age_code']])

  age_group  age_code
0     18-25         1
1     26-35         2
2     18-25         1
3     36-45         3
4     26-35         2
5     36-45         3